* {
  box-sizing: border-box;
  scrollbar-face-color: rgb(210, 210, 210);
  /*Firefox 63 compatibility*/
  scrollbar-track-color: rgb(46, 54, 69);
  /* Firefox 63 compatibility */
  scrollbar-color: rgb(46, 54, 69) #ffffff;
  scrollbar-width: thin
}

/* width */
*::-webkit-scrollbar {
  width: 10px
}

/* Track */
*::-webkit-scrollbar-track {
  background: #ffffff
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #212529
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #212529
}

html,
body {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}